<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/admin-header') %>
    <main id="edit" class="container">
        <h2 class="edit__title">EDITAR ITEM</h2>
        <form class="edit__form" action="/admin/edit/<%= funko.product_id %>" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="PUT">
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="collection">Categoría:</label>
                    <select class="form__select" name="category_name" id="collection" required>
                        <option value="" disabled hidden>Seleccionar</option>
                        <option value="Funko Pop!" <%= funko.category_name === "Funko Pop!" ? "selected" : "" %>>Funko Pop!</option>
                        <option value="Llaveros" <%= funko.category_name === "Llaveros" ? "selected" : "" %>>Llaveros</option>
                        <option value="Minis" <%= funko.category_name === "Minis" ? "selected" : "" %>>Minis</option>
                    </select>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="collection">Licencia:</label>
                    <select class="form__select" name="licence_name" id="collection" required>
                        <option value="" disabled hidden>Seleccionar</option>
                        <option value="starwars" <%= funko.licence_name === "Star Wars" ? "selected" : "" %>>Star Wars</option>
                        <option value="pokemon" <%= funko.licence_name === "Pokemon" ? "selected" : "" %>>Pokemon</option>
                        <option value="harrypotter" <%= funko.licence_name === "Harry Potter" ? "selected" : "" %>>Harry Potter</option>
                        <option value="marvel" <%= funko.licence_name === "Marvel" ? "selected" : "" %>>Marvel</option>
                        <option value="dc" <%= funko.licence_name === "DC Comics" ? "selected" : "" %>>DC</option>
                        <option value="disney" <%= funko.licence_name === "Disney" ? "selected" : "" %>>Disney</option>
                        <option value="anime" <%= funko.licence_name === "Anime" ? "selected" : "" %>>Anime</option>
                        <option value="gamesofthrones" <%= funko.licence_name === "Game of Thrones" ? "selected" : "" %>>Games of Thrones</option>
                        <option value="simpson" <%= funko.licence_name === "The Simpsons" ? "selected" : "" %>>The Simpsons</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label" for="name">Nombre del producto:</label>
                <input class="form__input" type="text" name="product_name" id="name" placeholder="Kakashi Hatake Shippuden Saga" value="<%= funko.product_name %>" required>
            </div>
            <div>
                <textarea name="product_description" id="description" cols="30" rows="10" placeholder="Descripción del producto" required ><%= funko.product_description %></textarea>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="sku">SKU:</label>
                    <input class="form__input" type="text" name="product_sku" id="sku" placeholder="SSK111AB001" required value="<%= funko.product_sku %>">
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="price">Precio:</label>
                    <div class="form__input--wrapper"><span>$</span><input class="form__input" type="number" name="product_price" id="price" data-type="currency" placeholder="0.000,00" value="<%= funko.product_price %>" required></div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="stock">Stock:</label>
                    <div class="form__input--wrapper"><input class="form__input" type="number" name="stock" id="stock" placeholder="0" required value="<%= funko.product_stock %>"><span>unidades</span></div>
                </div>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="discount">Descuento:</label>
                    <div class="form__input--wrapper"><input class="form__input" type="text" name="discount" id="discount" placeholder="0" ><span>%</span></div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="dues">Cuotas:</label>
                    <select class="form__select" name="dues" id="dues">
                        <option value="0">Sin cuotas</option>
                        <option value="3">3 cuotas s/ interés</option>
                        <option value="6">6 cuotas s/ interés</option>
                        <option value="9">9 cuotas s/ interés</option>
                        <option value="12">12 cuotas s/ interés</option>
                        <option value="18">18 cuotas s/ interés</option>
                        <option value="24">24 cuotas s/ interés</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label" for="images">Imagenes:</label>
                <!-- <input type="file" name="images" id="img" multiple> -->
                <input class="form__input" type="text" name="img-front" id="img-front" placeholder="https://www.funkostore.com.ar/img/products/1.jpg" value="<%= funko['img-front'] %>" required>
                <input class="form__input" type="text" name="img-back" id="img-back" placeholder="https://www.funkostore.com.ar/img/products/1.jpg" value="<%= funko['img-back'] %>" required>
            </div>
            <div class="form__box--flex">
                <div class="edit__img">
                    <img src="<%= funko['img-front'] %>" alt="Figura Funko coleccionable de Hermione">
                    <p class="edit__img-side">Frente</p>
                </div>
                <div class="edit__img">
                    <img src="<%= funko['img-back'] %>" alt="Figura Funko coleccionable de Hermione en caja">
                    <p class="edit__img-side">Dorso</p>
                </div>
            </div>
            <div>
                <input class="btn btn--primary btn--large" type="submit" value="Modificar Producto">
                <input class="btn btn--primary btn--large" type="reset" value="Limpiar">
            </div>
        </form>
    </main>
    <%- include ('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <script src="../../js/app.js"></script>
</body>
</html>